
.form{
    background-image: url("https://i.pinimg.com/originals/77/5d/c0/775dc07edc89e553bfa7e5230bc8c69c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 140px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}